{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Order{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Checkout</h2>
    <div class="card">
        <div class="card-header">
            <h5>Your Order</h5>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for item in cart %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ item.quantity }} - {{ item.product.name }}</span>
                    <span class="badge bg-primary rounded-pill">${{ item.total_price }}</span>
                </li>
                {% endfor %}
            </ul>
            {% if success == True %}
            <p>Thank you for your order. Your order has been placed successfully.</p>
            <p>Your order number is :   {{ order.order_id }}.</p>
            {% else %}
            <p class="mt-3 text-end"><strong>Total: ${{ cart.get_total_price }}</strong></p>
            {% endif %}
        </div>
    </div>

    <br>
    <form method="post" class="mt-4 p-4 border rounded shadow-sm bg-light">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-success w-100">Place Order</button>
    </form>
</div>
{% endblock content %}